<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">팀 야덕들</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Standards</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Today</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio2">Total</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>나는 행복합니다</h1>
                <hr>
                <p>비록 오늘 못했지만, 응원을! 나는 행복합니다~~</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">힘내라 포인트란?</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">행복 포인트란?</h2>
                    <hr class="light">
                    <p class="text-faded">이번 경기에서 병살을 치고 실책을 한 야구선수지만 욕설보다는 응원을 날립시다! 경기의 MVP가 아니라 가장 응원을 받아야 할 선수를 알려주는 포인트입니다! 행복하세요!</p>
                    <a href="#portfolio" class="btn btn-default btn-xl">오늘의 행복맨 확인하기</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">행복 포인트 기준은?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>팀이 패배했는가?</h3>
                        <p class="text-muted">팀이 패배해서 총체적으로 선수도 팬도 속이 상했는지.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>타자는 방망이를 헛으로 썼는가?</h3>
                        <p class="text-muted">안타는 칠 의지가 있었는지. 병살, 주루사, 삼진, 몸에 맞는 공 까지!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>투수는 공을 제대로 던졌는가?</h3>
                        <p class="text-muted">볼을 던지고 싶은건 아닌지. 자책점, 볼넷, 피안타, 폭투!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>결국 얼마나 아쉬운 플레이였는가!</h3>
                        <p class="text-muted">실책과 행복 플레이, 그 중에서도 가장 가장 응원을 받아야 하는 선수는!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    
   <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">5월 20일 오늘의 행복맨</h2>
                    <hr class="primary">
                </div>
            </div>
    </div>
        
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-6 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/DH1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    한화 이글스
                                </div>
                                <div class="project-name">
                                    정근우
                                </div>
                                <div class="project-name">
                                    56.4 행복 포인트<br>
                                    4타석 1삼진 1병살 1주루사
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="#" class="portfolio-box">

                        <img src="/assets/DP1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    KT 위즈
                                </div>
                                <div class="project-name">
                                    엄상백
                                </div>
                                <div class="project-name">
                                    71.4 행복 포인트<br>
                                    4이닝 9자책 10피안타 3볼넷
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
        
        <div div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-3">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/DH2.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    넥센 히어로즈
                                </div>
                                <div class="project-name">
                                    김민성
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="portfolio-box">

                        <img src="/assets/DH3.png" class="img-responsive" style="width:640px;height:344.61px" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    NC 다이노스
                                </div>
                                <div class="project-name">
                                    김종호
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                 <div class="col-md-3">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/DP2.jpg" style = "width:320px; height:249.33px;" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    롯데 자이언츠
                                </div>
                                <div class="project-name">
                                    김원중
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/DP3.jpg" class="img-responsive" style = "width:320px; height:164.23px;" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    NC 다이노스
                                </div>
                                <div class="project-name">
                                    배재환
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        
       
    </section>
    
    
    <br>
    <br>
    <br>
       <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">2016 시즌 올해의 행복맨</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    
    
    <section class="no-padding" id="portfolio2">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-6 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    구단명
                                </div>
                                <div class="project-name">
                                    타자 선수명
                                </div>
                                <div class="project-name">
                                    ~~ 행복 포인트<br>
                                    주요 기록
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="#" class="portfolio-box">

                        <img src="/assets/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    구단명
                                </div>
                                <div class="project-name">
                                    투수 선수명
                                </div>
                                <div class="project-name">
                                    ~~ 행복 포인트<br>
                                    주요 기록
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">만든 야덕들</h2>
                    <hr class="primary">
                    <p>멋쟁이 사자처럼 4기</p>
                    <p>세종대학교 박필재, 응원팀 KT 위즈</p>
                    <p>건국대학교 조주형, 응원팀 NC 다이노스</p>
                    <p>상명대학교 최현우, 응원팀 LG 트윈스</p>
                    <p>한국외국어대학교(글로벌) 강려령, 응원팀 한화 이글스~~</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>